@font-color: #333;

@border: 1px solid #d6d6d6;

@blue: #1989fa;
@green: #07c160;
@red: #F53F3F;
@gray: #4e5969;

@header-height: var(--van-nav-bar-height);

// Padding
@padding-base: 4px;
@padding-xs: @padding-base * 2;
@padding-sm: @padding-base * 3;
@padding-com: @padding-base * 4;
@padding-md: @padding-base * 5;
@padding-lg: @padding-base * 6;
@padding-xl: @padding-base * 8;
@padding-xxl: @padding-base * 10;

// Margin
@margin-base: 4px;
@margin-xs: @margin-base * 2;
@margin-sm: @margin-base * 3;
@margin-com: @margin-base * 4;
@margin-md: @margin-base * 5;
@margin-lg: @margin-base * 6;
@margin-xl: @margin-base * 8;
@margin-xxl: @margin-base * 10;